<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/garden.css">
    <link rel="stylesheet" href="/css/flowerpedia.css">
    <title>Flowerpedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

    <!--navigation bar-->
    <div id="navBar" class="sidebar">
        <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
        <a href="/index">Home</a>
        <a href="garden">Garden</a>
        <a href="flowerpedia">Flowerpedia</a>
        <a href="friends">Friends</a>
    </div>

    <div id="main">
        <img src="images/menu icon.png" class="openMenu" onClick="openNav()">
    </div>
    <!--navigation end-->

    <div class="header">
        <h1>Flowerpedia</h1>
    </div>

    <div class="gContainer">
    <div class="gallery">
        {{#each flower}}
            <figure class="flower {{id}}">
                <img src ="images/{{image}}" class="galleryFlower">
                <p>{{name}}</p>
            </figure>
        {{/each}}
    </div>
    </div>


    <!--JavaScript Code-->
    <script src="/js/navbar.js"></script>
</body>
</html>





