<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/garden.css">
    <title>Garden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

    <!--navigation bar-->
    <div id="navBar" class="sidebar">
        <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
        <a href="/index">Home</a>
        <a href="garden">Garden</a>
        <a href="flowerpedia">Flowerpedia</a>
        <a href="friends">Friends</a>
        {{!-- <a href="login">Login</a> --}}
    </div>

    <div id="main">
        <img src="images/menu icon.png" class="openMenu" onClick="openNav()">
    </div>
    <!--navigation end-->

    <div class="header">
        <h1>Garden</h1>
    </div>

    <div class="tabs">
        <ul class="switch">
            <li><a href="#" id="Day" onClick="changeDay()">Day</a></li>
            <li><a href="#" class="active" id="Week" onClick="changeWeek()">Week</a></li>
            <li><a href="#" id="Month" onClick="changeMonth()">Month</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="garden">
            <img src="/images/myGarden.jpg" id="weekImg">
            <img src="/images/exile.png" id="dayImg">
            <img src="/images/cecilia.png" id="monthImg">
        </div>
        <div class="focus">
            <h3>This week you focused for:</h3>
            <p class="focusTime">3.5 hours</p>
        </div>
    </div>

    <!--JavaScript Code-->
    <script src="/js/navbar.js"></script>
    <script src="/js/garden.js"></script>
</body>
</html>