<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/garden.css">
    <title>Garden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

    <!--navigation bar-->
    <div id="navBar" class="sidebar">
        <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="garden">Garden</a>
        <a href="flowerpedia">Flowerpedia</a>
        <a href="friends">Friends</a>
    </div>

    <div id="main">
        <img src="images/menu icon.png" class="openMenu" onClick="openNav()">
    </div>
    <!--navigation end-->

    <div class="header">
        <h1>Garden</h1>
    </div>

    <div class="tabs">
        <img src="/images/tabs.png">
    </div>

    <div class="container">
        <div class="garden">
            <img src="/images/myGarden.jpg">
        </div>
        <div class="focus">
            <h3>This week you focused for:</h3>
            <p class="focusTime">3.5 hours</p>
        </div>
    </div>

    <!--JavaScript Code-->
    <script src="/js/navbar.js"></script>
</body>
</html>