<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/garden.css">
    <link rel="stylesheet" href="/css/timer.css">
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>

</head>
<body class="body">
    <!-- <p><%=request.getParameter("name") %></p> -->
    <script>
        // document.getElementById("write").innerHTML = window.location.search;
        // document.write(returnName());
    </script>

    <!--navigation bar-->
    <div id="navBar" class="sidebar">
        <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
        <a href="/index">Home</a>
        <a href="garden">Garden</a>
        <a href="flowerpedia">Flowerpedia</a>
        <a href="friends">Friends</a>
        {{!-- <a href="login">Login</a> --}}
    </div>
    <div id="main">
        <img src="images/menu icon.png" id="icon" class="openMenu" onClick="openNav()">
    </div>

    <div class="header">
        <h1 id="title">Home</h1>
        <h1 id="growing">Growing flowers now!</h1>
    </div>

    <div class="welcome">
        <p>Get productive and set the timer to start growing flowers!</p>
    </div>

    <!-- timer -->
    <div class="clock">
        <div id="timer"></div>
    </div>

    <div class="container">
        <button type="button" id="start" class="start" onclick="startClick()">Start Timer</button>
        <button type="button" id="pause" class="after" onclick="pauseClick()">Pause</button>
    </div>
    <div class="stop">
        <button id="cancel" id="cancel" style="margin:5px" class="after" onclick="resetClick()">Cancel</button>
    </div>

    <div class="dropdown" id="choice">
        <label for="duration">Duration: </label>

        <select id="duration">
            <option value="900">15 min</option>
            <option value="1800">30 min</option>
            <option value="2700">45 min</option>
            <option value="3600">1 hr</option>
            <option value="5">5 sec</option>
        </select>
    </div>

<div class="container">
    <img src="/images/growing2.png" id="growFlower" style="width:375px;">
</div>

<div id="popup" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>These are the flowers you've grown!</p>
    <img src="/images/dayFlower.jpg" id="popupImg">
    <button onclick="window.location.href='garden'">View Garden</button>
  </div>
</div>

    <!--JavaScript Code-->
    <script src="/js/navbar.js"></script>
    <script src="/js/timer.js"></script>
    

</body>
</html>
