<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/garden.css">
    <link rel="stylesheet" href="/css/timer.css">
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

    <!--navigation bar-->
    <div id="navBar" class="sidebar">
        <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="garden">Garden</a>
        <a href="flowerpedia">Flowerpedia</a>
        <a href="friends">Friends</a>
    </div>
    <div id="main">
        <img src="images/menu icon.png" class="openMenu" onClick="openNav()">
    </div>

    <div class="header">
        <h1>Home</h1>
    </div>

    <!-- timer -->
    <div class="clock">
        <div id="timer"></div>
    </div>

    <div class="container">
        <button type="button" class="start" onclick="startClick()">Start</button>
        <button type="button" class="stop" onclick="pauseClick()">Pause</button>
        <button type="button" class="reset" onclick="resetClick()">Reset</button>
    </div>


    <div class="dropdown">
        <label for="duration">Set Duration: </label>

        <select id="duration">
            <option value="900">15 min</option>
            <option value="1800">30 min</option>
            <option value="2700">45 min</option>
            <option value="3600">1 hr</option>
            <option value="5">5 sec</option>
        </select>
    </div>

<div id="popup" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>These are the flowers you've grown!</p>
    <button onclick="window.location.href='garden'">View Garden</button>
  </div>
</div>

    <!--JavaScript Code-->
    <script src="/js/navbar.js"></script>
    <script src="/js/timer.js"></script>

</body>
</html>
