<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/timer.css">
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="body">
	<h1 id="name">Scott Klemmer</h1>
	<!-- <div class="header">
        <h1>Login</h1>
    </div> -->
    <img src = "/images/blossomHeader.png" style="width:375px;">

    <form id="login-form" action="/index">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" required>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" required>
      {{!-- <input type="submit" value="Login" id="login-form-submit"> --}}
      <button  id = "submit_button" href="/index" type="submit">Login</button> 
    </form>

    {{!-- <form action="/index">  
    <button type="submit">Login</button> 
    </form> --}}


    {{!-- The below code is for sign up that we haven't implemented yet --}}
    <div class = other_text>
        <p id = or>-OR-</p>
        <p id = sign>Sign in with Facebook</p>
        {{!-- <p id = no_acc> Don't have an Account? SIGN UP</p> --}}
    </div>
    <div class="jumbotron">
        <p class = "facebookLogin">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </p>
    <div class="jumbotron">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/garden.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
    <!-- <script src="/js/introHCI.js"></script> -->
</body>
</html>










