<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/timer.css">
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="body">
	{{!-- <!--navigation bar-->
    <div id="navBar" class="sidebar">
        <a href="javascript:void(0)" class="closeMenu" onclick="closeNav()">&times;</a>
        <a href="/index">Home</a>
        <a href="garden">Garden</a>
        <a href="flowerpedia">Flowerpedia</a>
        <a href="friends">Friends</a>
        <a href="login">Login</a>
    </div>

    <div id="main">
        <img src="images/menu icon.png" class="openMenu" onClick="openNav()">
    </div>
	<!--navigation end--> --}}

	<!-- <div class="header">
        <h1>Login</h1>
    </div> -->
    <img src = "/images/login_header.png" style="width:550;height:200px;">

    <form id="login-form" action="/index">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      {{!-- <input type="submit" value="Login" id="login-form-submit"> --}}
      <button  id = "submit_button" href="/index" type="submit">Login</button> 
    </form>

    {{!-- <form action="/index">  
    <button type="submit">Login</button> 
    </form> --}}


    {{!-- The below code is for sign up that we haven't implemented yet --}}
    {{!-- <div class = other_text>
        <p id = or>-OR-</p>
        <p id = sign>Sign In With</p>
        <p id = no_acc> Don't have an Account? SIGN UP</p>

    </div> --}}

	<script src="/js/navbar.js"></script>
	<script src="/js/garden.js"></script>
</body>
</html>










