.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,20vh);
    grid-gap: 5px;
    justify-items: center;
    padding-top: 20px;
}

.galleryFlower {
    width: 10vw;
    object-fit: cover;
}
