.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,20vh);
    justify-items: center;
    padding-top: 30px;
}

.galleryFlower {
    width: 10vw;
    object-fit: cover;
}

p {
	color: #23572E;
	text-align: center;
    font-family: 'Gill Sans';
}

