.gallery {
    display: grid;
    grid-template-columns: repeat(2,0fr);
    grid-template-rows: repeat(3,25vh);
    grid-gap: 1vw;
    justify-items: center;
    align-content: center;
    padding-top: 30px;
}

.galleryFlower {
    width: 9vw;
    object-fit: contain;
}

p {
	color: #23572E;
	text-align: center;
    font-family: Arial, sans-serif;
}

.gContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowerpediaDescription {
    padding-top: 10px;
    text-align: center;
    margin-bottom: -10px;
}
