h1 {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 9px;
    font-family: "Flower";
}

body {
    background-color: #E9F1D3;
}

@font-face {
    font-family: "Flower";
    src: url("../fonts/GamjaFlower-Regular.ttf");
    font-style: normal;
}

.header {
    border-bottom-style: solid;
    border-width: 1px;
    color: #23572E;
}


#growing {
    margin-top: 10px;
    display: none;
    color: #23572E
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #657E61;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
}

.sidebar a {
    padding: 10px 8px 10px 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Flower";
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(165, 165, 165);
}

.sidebar .closeMenu {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 30px;
}

.openMenu {
    padding-top: 2px;
    padding-left: 5px;
    margin-bottom: -20px;
    max-width: 30px;
    top: 0;
}

@media screen and (max-height: 450 px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.garden img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#dayImg{
   display:none;
}

#monthImg {
    display: none;
}

.garden {
    padding-top: 15px;
}

.garden p {
    margin-top: 10px;
    padding-left: 12vw;
    font-family: Arial, sans-serif;
    color: #23572E;
}

h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #23572E;
}

.focusTime {
    margin-top: -5px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: #23572E;
}

.focus {
    padding-top: 20px;
}

.friendo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #23572E;
}

.fgarden {
    width: 60vw;
}

.gardenLink {
    text-align: center;
}

.tabs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Gill Sans";
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    min-width: 40px;
    padding: 10px 16px;
    text-decoration: none;
    background-color: #61887F;
}

.switch {
    padding: 10px;
}

.active {
    background-color: #9EBEA5;
}

#Day {
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;   
}

#Month {
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;  
}


